* {
    font-family: 'Raleway';
}

p.error-message {
    color: red;
    font-weight: 700;
    font-size: 14px;
    margin: 20px 0;
}

.login-box {
    width: 60%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.login-box form {
    width: 100%;
}
.login-box input:not([type=submit]) {
    width: 100%;
    padding: 8px;
    border: 1pt solid #ccc;
    margin-top: 10px;
    color: #444;
    font-size: 14px;
    transition: 0.2s;
    outline: 0;
}
.login-box input:not([type=submit]):focus {
    border-color: #142e5e;
}
.login-box label {
    color: #444;
    font-weight: 600;
    font-size: 14px;
}
.login-box .form-group {
    margin-top: 25px;
}
.login-box input[type=submit] {
    padding: 9px 35px;
    color: white;
    background-color: #142e5e;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    border: 1pt solid #142e5e;
    margin-top: 20px;
    outline: 0;
    cursor: pointer;
}
